<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <title>Task Manager</title>
    </head>
    <body>

        <header>
            <nav class="deep-purple lighten-2">
                <div >
                    <a href="#!" class="brand-logo">Task Manager</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                            <a href="">New Task</a>
                        </li>
                        <li>
                            <a href="">Categories</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li>
                    <a href="">New Task</a>
                </li>
                <li>
                    <a href="">Categories</a>
                </li>
            </ul>
        </header>

        <main class="container"> {%  block content %}{%  endblock %}

            </main>

            <footer class="page-footer deep-purple darken-2">
                <div class="footer-copyright">
                    <div class="container" id="current-year">
                        © 2014 Copyright Text
                        </div>
                </div>
            </footer>


            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </body>
    </html>

    <aside></aside>
